/* CSS for all Pages */

html{
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15%;
    background-color: white;
    padding: 10px;
    margin-bottom: 3px;

}

main{
    background-image: url(images/xavier-von-erlach-AU2goNvfyWU-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    padding: 20px;

}

footer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 10%;
    background-color: white;
    padding: 5px;
    margin-top: 3px;
}

/* CSS for index */



/* CSS for XML page */

#heading-xml{
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-decoration: double;
}


#search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 80%;

}

#search-xml{
    font-size: 17px;
    height: 28px;
}

#search-heading{
    background-color: black;
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    color: white;
    
}

#search-bar{
    height: 50px;    
}

#search-button-wrapper{
    margin: 5px;
    margin-left: 0;
    
}

#search-button{
    width: 100px

}

#xml-file{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: fit-content;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#data{
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#next-page{
    width: 80px;
    background-color: white;
    text-align: center;
}

#nextpage-anchor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: black;
    font-style: normal;
    text-decoration: none;

}

/* CSS for JSON page */


